/* IMPOSTAZIONI GENERALI */
html
{font-size: 62%;
overflow-x: hidden;}

body{
    color: #000;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.1;
    padding: 0 2%;
    overflow-x: hidden;
}    

a{  color: rgb(77, 76, 76);
    text-decoration: none;}  


* {
    box-sizing: border-box;}


    h1 { font-size: 4rem;
        line-height: 1.1;
        margin: 2rem auto 2rem; 
        font-weight: bold;
    }
        
    h2 { font-size: 3rem;
        line-height: 1.1;  
        padding: 0 2rem 1.5rem;
        font-weight: bold;        
    }

    h3 {
        font-size: 1.8rem;
        line-height: 1.1;
        padding: 5% 0; 
        font-weight: bold;               
    }       

    i { color: #e42424;
        font-size: 3rem;}

/* HEADER */

header{ 
    box-shadow: 0px 3px 3px #d3d3d3;    
    width: 96%; 
    background-color: white;
    position: fixed;
    padding: 5% 3%;
    margin-right: 1%;
    top: 0%;       
}

header nav ul li {
    list-style: none;
    padding-bottom: 1%;}



/* MAIN */

main { text-align: center; }

.banner { 
    color: white;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: -2px 0px 8px #000;
    box-shadow: inset 0 0.2em 0.9em #d3d3d3;
    text-align: left;
    padding: 10% 10% 4%;
    margin-bottom: 2rem;}  

.banner p {  
        font-size: 1.4rem;
        line-height: 1.5;}  

.banner form { 
    padding-top: 1.5rem;}

.banner button {
    animation: pulse 1.4s infinite;
    font-size: 1em;}

@keyframes pulse {
        0% {box-shadow: -1px 1px 0px 9px rgba(0, 0, 0, 0.3);}
        30% {box-shadow: -1px 1px 20px 17px rgba(0, 0, 0, 0);}
        50% {box-shadow: -1px 1px 45px 25px rgba(0, 0, 0, 0);}
        70% {box-shadow: -1px 1px 45px 40px rgba(0, 0, 0, 0);}
        80% {box-shadow: -1px 1px 20px 17px rgba(0, 0, 0, 0);}
        100% {box-shadow: -1px 1px 0px 9px rgba(0, 0, 0, 0);}
}




main section p {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0 3rem 3rem 3rem;
}

main > div:last-of-type{
    background-color: #0c0633;
    color: white;
    padding: 10% 0}


main div:last-of-type h1 { 
    padding: 0 2% 2% 2%;
}
main div:last-of-type p {
    padding-bottom: 3%;
}

.m3 {
    padding: 5% 5%;    
    margin: auto;}

.m3 div:first-of-type{
    box-sizing: border-box;
    width: 100%;
}

.m3 p { padding: 0 1rem 0;}

.m4 div:first-of-type h2 {
        padding-top: 2rem; }

.m4 p { 
    font-size: 1.4rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}

/* FOOTER */

footer {
    background-color: rgb(238, 238, 238);   
}

footer section div {
    padding: 2% 20%;
    margin: 0% 2%;
}    

footer address { 
    text-align: center; }



@media only screen and (max-width: 700px) { 
main {
    margin-top: 20%;
}  
button {
    color: white;
    font-size: 1.4rem;    
    padding: 1em 1em;
    border: none;
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
}   
    .Menu {    
        opacity: 0;
        height: 0rem;
        padding-top: 2%;    
    }
    
    .btnmenu { display: none;}
    
    .btnmenu:checked ~ .Menu {    
        display: block;
        animation-name: Opacità, Altezza;
        animation-duration: 1s, 1s;
        animation-delay: 0.3s, 0s;
        animation-iteration-count: 1, 1;
        animation-fill-mode: forwards, forwards;
        animation-direction: normal, normal;
        animation-timing-function: ease-in-out, ease-in-out;
        }
    
    @keyframes Opacità {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes Altezza {
        from {height: 0rem;}
        to {height: 10rem;}
    }
    
label i{ position: absolute;
             top: 6vh;
             right: 10vw; 
             transform: scale(1)} 

footer fieldset {
        display: flex;
        flex-direction: column;    
        padding-bottom: 2rem;    
}
            
footer input { 
        border: none;
        font-size: 1.9rem;
        padding: 2% 0;
        color: white;
        flex-grow: 1;
 }
            
footer button {
        border: none;
        font-size: 1.9rem;
        padding: 2% 0;
        color: white;
        flex-grow: 1;}

}

@media only screen and (min-width: 700px) {
main {
    margin-top: 18%
}
Body {line-height: 1.2;}

button {
    color: white;
    font-size: 1.4rem;    
    padding: 1em 1em;
    border: none;
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
}   

/* HEADER */

header label, header input { display: none;}
    
header img {
    float: left;
}    
nav { justify-content: right;}
.Menu {
    width: 100%;
    text-align: right;      
}

.Menu li { 
    display: inline;
    padding: 0 2%;
}

.Menu li form { 
    display: inline;
    padding: 0 2%; }


/*MAIN*/ 
.banner {
    padding: 10% 19% 5%;
    
    margin-bottom: 5%;
}

.m2 { display: flex;}

.m2 div p { 
    text-align: left;
    padding: 0% 13% 7%;
}

main > div:last-of-type p {
    padding-bottom: 2%;
}

.m3 {
    display: flex;
    justify-content: center;       
}
.m3 img {
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}

.m4 { 
    text-align: left;
    flex-basis: 40%; 
    padding-left: 3%;
}

.m4 div:first-of-type h2 {
    margin-top: 11%;
}

/* FOOTER */ 


footer section {
    display: flex;  
    padding: 2%;
}
footer section div {
    flex-basis: 30%;
    padding: 2% 2%;
 }

footer address {
    padding-bottom: 3%;
}

footer fieldset {
    padding-right: 20%;
}
        
footer input { 
   width: 100%;
   padding: 10% 0%;
   text-align: center;
}
        
footer button {
   width: 100%;
   padding: 10% 0%;
   font-size: 1.4rem;}

}


@media only screen and (min-width: 999px) {
body {line-height: 1.3;}
header{padding: 1% 3%;}
main { margin-top: 7%}

/* MAIN */
.banner {
    padding-bottom: 6%; }

.m2 { 
    padding: 2% 10%;
}
.m4 div:first-of-type h2 {
    margin-top: 20%;} 

button { 
    padding: 1em 1em;    
}
footer section { 
    padding: 6%;}
footer fieldset { 
    padding-right: 0%;}
footer button {
    padding: 7% 0%;}
footer input {
    padding: 7% 0%;}

}


/************************* CHI SIAMO ***********************/
#sono {
    padding-bottom: 11%;}

.chi_siamo {
    line-height: 1.9;
    text-align: center; 
    padding-bottom: 10%;
    margin-top: 32%;  
}

.chi_siamo section p {
    padding: 2% 9%; }

.chi_siamo section:nth-child(2) div{    
    margin: 2% 10%; }

.chi_siamo section:nth-child(2) img {
    width: 100%;   
    height: auto;}

.tab1 .tab2 {
    margin-bottom: 3%;
}

    /* TABELLA 1 */ 
caption {
        font-size: 2rem;
        font-weight: 500;}

.tab1 table {
        width: 100%;
        text-align: center;}    
.tab1 th { 
        font-weight: bold;
        text-align: left; 
        padding-left: 1%;}
.tab1 td { 
        text-align: left;
        padding: 3% }
    
.tab1 thead, .tab1 tfoot {background-color: #d2dce7;}
    
.tab2{ display: none;}  

@media only screen and (min-width: 700px) {
#sono{
    padding: 2% 2%;
}  
.chi_siamo {    
    margin-top: 10%;  }

.chi_siamo section:nth-child(3) {
    display: flex;}
    
.chi_siamo section:nth-child(3) div {
    margin: 1% 1% 1% 3%;}

  /*TABELLA */   
.tab1 { display: none; }

.tab2 { 
    display: block; 
    text-align: center; }

.tab2 table {
    width: 80vw;
    margin-left: 9%;}

.tab2 th { 
    font-weight: bold;
    text-align: center;
    background-color:#5f82a4;}

.tab2 tr:nth-child(odd) { 
    background: #d1dce6;}

.tab2 td, .tab2 th {
    padding: 1%;}

}

@media only screen and (min-width: 999px) {
.chi_siamo {    
        margin-top: 7%; }

.chi_siamo section:nth-child(3) {
    display: flex;}

.chi_siamo section:nth-child(3) div {
    margin: 1% 1% 1% 3%;}

.chi_siamo section p {
        padding: 2% 0%; } 
}

/************************* CONTATTI ***********************/
#sono1 {
    width: 66%;}        

body.contenitore {
    text-align: center;
    padding: 0% 16%;
    line-height: 1;
    margin-top: 20%;
}
.contenitore h1{
    text-align: center;}

.mex form{
    text-align: center;}

aside.sede div{
    margin-bottom: 8%;}

.invia{        
    margin-top: 5%;
    margin-bottom: 5%;}

.why{
    color: #000;
    text-align: center;}

textarea {
    border: 1px solid black;}
.sede address:nth-of-type(2) { 
    margin-bottom: 4%;
}
   

@media screen and (min-width: 700px) {
#sono1 { width: 90%;
padding: 2% 2%;} 

textarea, .invia{ display: block; }

body.contenitore {    
    padding: 0% 5%;
    line-height: 1.3;
    margin-top: 7% }

.mex button { margin: 0% 28%;}

div.mex{
    display: flex;
    flex-basis: 50%;
    height: 30%;
    justify-content: center; }

.contenitore h1{
    margin-bottom: -2%;
    margin-top: 4%; }

.mex form{
    margin-top: 7%;
    margin-left: 2%; 
    flex-basis: 50%;}

textarea { margin-bottom: 6%; }


aside.sede { margin: 7% 10%;} 
}


 @media screen and (min-width: 1100px) {
body.contenitore {    
        padding: 0% 5%;
        line-height: 1.9;
        margin-top: 7% }

.mex form{
        margin-top: 7%;
        margin-left: -6%; 
        flex-basis: 50%;}
textarea { margin-bottom: 3%; }
aside.sede {
        margin: 7% 2%;}

.contenotire h1{
    margin-top: 10%;}

.mex textarea { 
    width: 100%;}

.mex button { margin: 0% 35%;}    
.contenitore div.mex{
    justify-content: space-evenly;}  }